**/__pycache__
*.pyc
*.pth.tar
*.pth
*.cluster.local
*tfevent*
*.mp4
*.avi
*.pytorch
*.pkl
**/tmp
#process_data/data/
#*/process_data/data/
*.tsv
*.pbtxt
*.svg
**/test_log.md
*notes.md
*scale.txt
*.pdf
*.DS_Store
*.out
*.log
*.prof
*.png
*.jpg
*.gif
*.vscode
*.vscode*
*.csv
*.npy
log-*
!asset/*.png
